@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.dropdown {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.dropdown-slide-in {
  animation-name: slideIn;
}

.dropdown-slide-out {
  animation-name: slideOut;
}
